doctype
html
  head
    title 瀑布流实现方式
    meta(charset='utf-8')
    link(rel="stylesheet" src="less/style.css")
  body
    #container
      div.box
        section.pic
          img(src="images/1.jpg")

